#skills {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;
  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }
  @include respond(phone) {
    padding-bottom: 1px;
  }
  .skills-wrapper {
    margin-bottom: 15rem;
    @include respond(phone) {
      margin-bottom: 0rem;
    }
    .row {
      margin: 0;
      margin-bottom: 4rem;
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }
    &__icon {
      font-size: 6rem;
      margin: 2rem 1rem;
      position: relative;
      .tooltip {
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 0;

      }
      .tooltiptext {
        visibility: hidden;
        font-size: 1rem;
        width: 8rem;
        top: -4.5rem;
        left: 50%;
        margin-left: -4rem; /* Use half of the width (120/2 = 60), to center the tooltip */
        background-color: $dark-grey;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
      
    }
  }
}